@font-face {
  font-family: 'Bonnaco';
  src: local('Bonnaco Regular'), local('Bonnaco-Regular'),
    url('assets/fonts/BONNACORegular.woff2') format('woff2'),
    url('assets/fonts/BONNACORegular.woff') format('woff'),
    url('assets/fonts/BONNACORegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Color Overrides
$light: #F3E6DE;
$dark: #312823;
$primary: #EF9220;
$secondary: #A75122;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", sans-serif !important;
  background-color: $dark;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.banner {
  padding-block: 8rem;
}

.logo-header {
  height: 4rem;
}

.hero-heading {
  font-size: 3rem;
  font-family: Bonnaco;
}

.logo-footer {
  height: 3rem;
}

.border-width-2 {
  border-width: 3px !important;
}

.icon-md {
  font-size: 1.5rem;
}

.hero-img {
  background-image: url("../assets/images/record_player.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 120px;
}
